<h1>Tweets</h1>
<h2><%= @keyword%></h2>
<% @tweets.each do |tweet| %>
  <br />
  <h3>Username: <%= tweet.username %></h3>
  <p><%= tweet.text %></p>
<% end %>
<br />
<%= link_to "Select a new topic", new_tweet_path %>
