<div class="container">
  <h2>Please select a topic</h2>
  <br />
  <%= form_tag("/tweets", :method => "get") do %>
    <%= radio_button_tag(:query, "#NASA", checked=true) %>
    <%= label_tag(:NASA, "Tweets about NASA") %>
    <%= radio_button_tag(:query, "#Healthcare") %>
    <%= label_tag(:Healthcare, "Tweets about Healthcare") %>
    <%= radio_button_tag(:query, "#Opensource") %>
    <%= label_tag(:OpenSource, "Tweets about Open Source") %>
    <% simple_format("/n") %>
    <%= submit_tag("Find Tweets") %>
  <% end %>
</div>

<%= form_tag("/tweetIt", :method => "post") do %>
  <%= label_tag(:query, "Enter a tweet:") %>
  <%= text_field_tag(:query) %>
  <% simple_format("/n") %>
  <%= submit_tag("Tweet it!") %>
<% end %>
